
# Agent Stuffs
.agents
artifacts

# Environment variables
.env
.env.*
!.env.example

# Pipelines Runtime Artifacts
pipelines/workflows/**/valves.json
pipelines/workflows/__pycache__/
**/__pycache__/

# Data Directories
ollama_data/
open-webui_data/
terraform/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Logs
*.log
